.bulb {
    position: absolute;
    width: 517px;
    height: 273px;
    background: rgba(255, 255, 255, 0.18);
    /* backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px); */
    border-radius: 50%;
    transform: translateX(-50%) rotate(178.32deg);
    z-index: -1;
    pointer-events: none;
    filter: blur(80px);
}

@media (max-width: 540px) {
    .bulb {
        backdrop-filter: none;
    }
}